<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post" {% if page.image.feature %}class="feature"{% endif %}>

{% include browser-upgrade.html %}
{% include navigation.html %}

{% if page.image.feature %}
<div class="entry-header">
  {% if page.image.credit %}<div class="image-credit">Зображеня додав: {% if page.image.creditlink %}<a href="{{ page.image.creditlink }}">{% endif %}{{ page.image.credit }}{% if page.image.creditlink %}</a>{% endif %}</div><!-- /.image-credit -->{% endif %}
  <div class="entry-image">
    <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }}">
  </div><!-- /.entry-image -->
</div><!-- /.entry-header -->
{% endif %}

<div id="main" role="main">
  <article class="hentry">
    <header class="header-title">
      <div class="header-title-wrap">
        {% if page.link %}
          <h1 class="entry-title"><i class="fa fa-bookmark permalink"></i> <a href="{{ page.link }}">{{ page.title }}</a></h1>
        {% else %}
          <h1 class="entry-title"><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
        {% endif %}
        <h2><span class="entry-date date published"><time datetime="{{ page.date | date_to_xmlschema }}"> {% include bilddata.html date=page.date %}</time></span></h2>
        {% if site.reading_time %}
        <p class="entry-reading-time">
          <i class="fa fa-clock-o"></i>
          {% include read-time.html %}
        </p><!-- /.entry-reading-time -->
        {% endif %}
      </div><!-- /.header-title-wrap -->
    </header>
    <div class="entry-content">
      {{ content }}
      <footer class="entry-meta">
        <span class="entry-tags">{% for tag in page.tags %}<a href="{{ site.url }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}" class="tag"><span class="term">{{ tag }}</span></a>{% unless forloop.last %}{% endunless %}{% endfor %}</span>
     {% if post.content | post_contains_excerpt_tag %}
  <a href="{{ post.url }}">Дочитати →</a>
{% endif %}
        {% if page.modified %}
          <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Оновлено:" }}</strong>
            <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">
              {{ page.modified | date: "%-d" }}
              {% assign month = page.modified | date: '%-m' %}
              {% case month %}
                {% when '1' %}січня
                {% when '2' %}лютого
                {% when '3' %}березня
                {% when '4' %}квітня
                {% when '5' %}травня
                {% when '6' %}червня
                {% when '7' %}липня
                {% when '8' %}серпня
                {% when '9' %}вересня
                {% when '10' %}жовня
                {% when '11' %}листопада
                {% when '12' %}грудня
              {% endcase %}
              {{ page.modified | date: "%Y" }}
            </time>
          </p>
        {% elsif page.date %}
          <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Оновлено:" }}</strong>
            <time datetime="{{ page.date | date_to_xmlschema }}">
              {{ page.date | date: "%-d" }}
              {% assign month = page.date | date: '%-m' %}
              {% case month %}
                {% when '1' %}січня
                {% when '2' %}лютого
                {% when '3' %}березня
                {% when '4' %}квітня
                {% when '5' %}травня
                {% when '6' %}червня
                {% when '7' %}липня
                {% when '8' %}серпня
                {% when '9' %}вересня
                {% when '10' %}жовтня
                {% when '11' %}листопада
                {% when '12' %}грудня
              {% endcase %}
              {{ page.date | date: "%Y" }}
            </time>
          </p>
        {% endif %}
        {% if page.share != false %}{% include social-share.html %}{% endif %}
      </footer>
    </div><!-- /.entry-content -->
    {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
    {% if site.related_posts.size > 0 %}{% include read-more.html %}{% endif %}
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}	        

<div id="zadarmaScripts"></div>
<script>
(function() {
  var script = document.createElement('script');
  script.src = 'https://my.zadarma.com/callmewidget/v2.0.3/loader.js';
  document.getElementById('zadarmaScripts').appendChild(script);
  var script2 = document.createElement('script');
  script2.src = 'https://my.zadarma.com/callmewidget/languages/v1/ua.js';
  document.getElementById('zadarmaScripts').appendChild(script2);
}());
       
      </footer>
</script>

</body>
</html>
